
.marquee{
    margin-left: 34px;
    background-color: #3ef8bc;
    font-weight: bold;
}
.header-class{
    text-align : center;
}
#page-footer {
    position: fixed;
    width: 94%;
    left: 0;
    background: #ccc;
}
.hero{
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}
.hobi{
    text-align: center;
    /* display: flex;
    justify-items: center; */
}

#page-footer {
    bottom: 0;
    margin-left: 34px;
    text-align: center;
    background: #c9ee82;
    height: 40px;
}
.footer-class{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
